.main-div
{
    background-color:black;
    color:white;
}
.main-div ul {
    list-style-type:none;
    line-height: 2.3;
}

.KhatamTataGoodbyeGaya h3{
    margin-top:0;
    text-align: center;
    text-transform: uppercase;
  font-weight: 600;
}
.TataGoodbye
{
    dispaly:flex;
    text-align: left;
}
.KhatamTataGoodbyeGaya
{
    display:flex;
    justify-content: space-evenly;

    padding-top:60px;
}
 a{
     color:white;
     text-decoration: none;
     font-size:17px;
 }
 a:hover{
     font-weight:600;
 }


 .delivery-cities
 {
     display:flex;
     justify-content: space-around;



 }
 .headings{
     text-align: left;
     color:#808080;
     font-weight:600;
     font-size: 13px;
 }

.apple-playstore-images :hover{
    transform: scale(1.1);
}
.horizontal-rule{
    border-style:solid none none none;
    border-color: #4D4D4D;
}
.footer-logo
{
    display:flex;
    justify-content: space-around;
    padding:28px 0 28px 0;
}
.swiggy-logo1
{
    height:42px;
    width:142px;
}
.icons
{
    height:24px;
    width:24px;
    margin-right:20px;
    margin-left:20px;
}
.socials
{
    margin-right:-120px;
}
.bas-kar-bhai-kitne-divs
{
    margin-left:-40px;
}
.TMandC h4
{
    margin-top:7px;
}
.huhh
{
    margin-left: 170px;
}
.huh{
    margin-right: 80px;
}
.huhhh
{
    margin-right:6px;
}
.huhhhh
{
    margin-right: 19px;
}
.text-bottom
{
    font-weight: 500;
    font-size: 20px;
}
