.paraa h2{
    font-size:40px;
    margin:0;
    color:#282C3F;
    text-align: left;
}
.paraa p
{
    text-align: left;
    color:#7E808C;
    font-size:20px;
}
.paraa{
    padding-top:80px;
    padding-left:100px;
    padding-bottom:10px;
}
.applink
{
    display:flex;
    padding-top:55px;
}
.applink img
{
    width:180.500px;
    height:54px;
    margin-right:20px;
}

.App-Download
{
    display: flex;
    align-content: space-between;
    align-items: center;
}
.iphone-previews
{
    margin-left:200px;
}




.iphone-previews img{
    height:384px;
    width:420px;

}

@media (min-width: 1000px) {
    .App-Download .iphone-previews {
      display: flex;
    }

    .App-Download .container {
      justify-content: space-between;
      flex-flow: row nowrap;
    }
  }
